html {
    background: black;
}

body {
    font-family: arial;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: Racing Sans One;
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
}

#list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    list-style: none;
}


#userInput {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 25px;
    text-align: center;
    font-family: Racing Sans One;
    font-weight: lighter;
}

#userInput:focus {
    outline: none;
}

#submit {
    font-family: Racing Sans One;
    cursor: pointer;
    width: 70px;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    border-radius: 25px;
    font-weight: lighter;
}

#grid img {
    width: 200px;
    height: 350px;
    text-align: center;
    font-style: italic;
    line-height: 12;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-row-gap: 70px;
}

#grid img:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

#grid p {
    text-align: center;
    margin-bottom: 0;
    font-family: Racing Sans One;
    font-size: 1.2rem;
    color: white;
}

.similar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    justify-content: center;
    border: 1px solid black;
    box-shadow: rgb(255 255 255 / 57%) 2.4px 2.4px 3.2px;
}

@media screen and (max-width: 350px) {
    form {
        gap: 0;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}